* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-image: url(../assets/fondo-paisaje.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;                  
    margin: 0;
}


.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.targeta {
    font-weight: bold;
    color: white;
    text-align:center;
    background: rgba(196, 221, 255, 0.098);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(233, 245, 255, 0.285);
    border-radius: 40px;
    box-shadow: 0 0 20px 0 rgba(71, 71, 71, 0.2);
    width: 329px;
}

.perfil {
    margin: 15px 0;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
p {
    margin: 0;
    padding: 10px;
}

.enlaces a {
    display: block;
    margin: 12px 25px;
    padding: 15px;
    border-radius: 14px;
    background-color: rgba(0, 17, 41, 0.397);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
    transition: background-color 0.3s; transform: o.3s ease;
}

.enlaces a:hover {
    background-color:#4E60FF;
    transform: scale(1.05);
}

.redes a {
    display: inline-block;
    padding: 15px 2px;
    transition: transfrom 3.0s ease;
}

.redes a:hover {
    transform: scale(1.50);
}